/**
 * Color Scheme ID:
 * http://colorschemedesigner.com/#3r41Tff--smA1
 */
* {
    box-sizing: border-box;
    user-select: none;
}

.fill {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16pt;
    margin: 0px;
}

.content {
    padding: 0.5ex;
    min-height: 100%;
}

.template {
    display: none !important;
}

@media(min-device-width:641px) {
    body {
        background-color: #EEE;
    }
    .content {
        border-color: black;
        border-width: 0 1px 0 1px;
        border-style: solid;
        background-color: white;
        max-width: 800px;
        margin: auto;
    }
}

a {
  color: #00B7FF;
}

