.content {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.entry {
    border: 1px solid black;
    margin-top: 0.5ex;
    overflow: auto;
    min-height: 4em;
    flex: none;
    display: flex;
}

.input {
    margin: auto;
    width: 100%;
    padding: 0 1em 0 1em;
    text-align: center;
}

.input:focus {
    outline: 0;
}

fieldset.active-tags, fieldset.all-tags {
    border-width: 1px 0px 0px 0px;
    border-color: black;
    flex: none;
}

.tagcloud {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14pt;
}

.active-tags > .tagcloud {
    justify-content: start;
}

.all-tags > .tagcloud {
    justify-content: center;
}

.tag {
    padding: 0.5ex;
    border: 1px solid black;
    margin: 0.5ex;
}

.new-tag-button {
    text-align: center;
    padding: 0.5ex;
    border: 1px solid black;
    margin: 0.5ex;
    background-color: #EEE;
}
