.dictionary {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.entry {
    flex: none;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    word-wrap: break-word;
}

.entry:nth-child(odd) {
    background-color: #D6EFF8;
}

.entry:nth-child(even) {
    background-color: rgb(239, 247, 255);
}

.header.entry {
    border-bottom: 1px solid black;
}

.original {
    flex: auto;
    padding: 1ex 1ex 1ex 0;
}

.tags {
    font-size: 10pt;
    flex: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.translation {
    text-align: right;
    flex: auto;
    padding: 1ex 0 1ex 1ex;
}

