.title {
    display: flex;
    justify-content: space-between;
}

.title-item {
    text-decoration: none;
}

.title-item.left {
    order: 1;
}

.title-item.center {
    order: 2;
}

.title-item.right {
    order: 3;
}

