.title {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.title-item {
    text-decoration: none;
}

.title-item.left {
    order: 1;
}

.title-item.center {
    order: 2;
    position: absolute;
    left: 33%;
    right: 33%;
    text-align: center;
}

.title-item.right {
    order: 3;
}

