table.words {
    width: 100%;
    table-layout:fixed
}

.word {
    font-size: 14pt;
    word-wrap:break-word
}

.word:nth-child(odd) {
    background-color: #CCC;
}

.translation {
    padding-left: 1ex;
}

.original {
    text-align: right;
    padding-right: 1ex;
}

.title {
    font-size: 16pt;
}

.back {
}

.stats {
    float: right;
}
