.words {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.word-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: height 1s;
}

.dictionary-entry {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14pt;
    word-wrap:break-word
}

.word-container:nth-child(odd) {
    background-color: #CCC;
}

.translation {
    padding: 1ex 0 1ex 1ex;
}

.original {
    text-align: right;
    padding: 1ex 1ex 1ex 0;
}

.details {
    position: relative;
}

.title {
    font-size: 16pt;
}

.back {
}

.stats {
    float: right;
}
