extends layout

block head
  link(rel="stylesheet", href="/stylesheets/menu.css")
  link(rel="stylesheet", href="/stylesheets/screen-menu.css")

block content
  .menu
      a(href="/word/new") Add word
      a(href="/words") Words
      a(href="/train") Train
      a(href="/logout") Logout #{user.email}

