extends layout

block head
  link(rel="stylesheet", href="/stylesheets/menu.css")

block content
  .menu
      a(href="/word/new") Add word
      a(href="/words") Words
      a(href="/logout") Logout #{user.email}

