extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/menu.css")

block content
  .menu
      a(href="/word/new") Add word
      a(href="/words") Words
      a(href="/train") Train spanish->english
      a(href="/train#reverse") Train english->spanish
      a(href="/logout") Logout #{user.email}

