extends layout

block content
  .title
    a(href="/logout") #{user.email}
  form(id="create-word", method="POST", action="/word/new")
    textarea(type="text", name="original", placeholder="hablar")
    textarea(type="text", name="translation", placeholder="speak")
    .submit

