extends layout

block styles
  link(rel="stylesheet", href="stylesheets/login.css")

block content
  .content
    .login
      .login-suffix Click
      a(href="/auth/google")
        img(src="/images/goog.png")
      .login-postfix to login
