extends layout

block head
  link(rel="stylesheet", href="/stylesheets/new-word.css")
  script(src="/bower_components/jquery-hammerjs/jquery.hammer-full.min.js")
  script(src="/javascripts/add.js")

block content
  .title
    .title-item.left
      a(href="/") Menu
    .title-item.right
      a Add
  .form
    fieldset.entry.original
      legend Original
      .input(contenteditable="true", autofocus)
    fieldset.entry.translation
      legend Translation
      .input(contenteditable="true")
    fieldset.active-tags
      legend Active tags
      .tagcloud
        .tag all
        .tag bitch
    fieldset.all-tags
      legend All tags
      .tagcloud
        .tag days
        .tag months
        .tag stars
        .tag victory
        .tag room
        .tag navigation
        .tag activities
        .tag mac os
        .tag tech
        .tag communication
        .tag food
        .tag duolingo
        .tag other
