extends layout

block head
  link(rel="stylesheet", href="/stylesheets/add-word.css")
  script(src="/javascripts/jquery.hammer-full.min.js")
  script(src="/javascripts/add-word.js")

block content
  .title
    a.title-item.left(href="/") Menu
    a.title-item.right Submit
  .form
    fieldset.entry.original
      legend Original
      .input(contenteditable="true", autofocus)
    fieldset.entry.translation
      legend Translation
      .input(contenteditable="true")
    fieldset.active-tags
      legend Active tags
      .tagcloud
        .new-tag-button New tag
    fieldset.all-tags
      legend All tags
      .tagcloud
