extends layout

block head
  link(rel="stylesheet", href="/stylesheets/title.css")
  link(rel="stylesheet", href="/stylesheets/new-word.css")
  link(rel="stylesheet", href="/stylesheets/stub.css")
  script(src="/bower_components/jquery-hammerjs/jquery.hammer-full.min.js")
  script(src="/javascripts/stub.js")
  script(src="/javascripts/add.js")

block content
  .title
    a.title-item.left(href="/") Menu
    a.title-item.right Add
  .form
    fieldset.entry.original
      legend Original
      .input(contenteditable="true", autofocus)
    fieldset.entry.translation
      legend Translation
      .input(contenteditable="true")
    fieldset.active-tags
      legend Active tags
      .tagcloud
        .new-tag-button New tag
    fieldset.all-tags
      legend All tags
      .tagcloud
        each tag in user.tags
          .tag #{tag.name}
