extends layout

block head
  link(rel="stylesheet", href="/stylesheets/settings.css")
  script(src="/javascripts/settings.js", type="text/javascript")

block content
  .title
    a.title-item.left(href="/words") Back
  .menu
      input#file-selector(type="file")
      a.import-link Import
      a(href="/export") Export
      a.clear-words-link Clear words
      a(href="/logout") Logout #{user.email}
  if version
    a#version(href="http://github.com/aslushnikov/flashcards/commit/#{version}") SHA: #{version}

