extends layout

block head
  link(rel="stylesheet", href="/stylesheets/menu.css")
  script(src="/javascripts/settings.js", type="text/javascript")

block content
  .title
    a.title-item.left(href="/words") Words
    .title-item.right Version:
      span.version Unavailable
  .menu
      input#file-selector(type="file")
      a.import-link Import
      a(href="/export") Export
      a.clear-words-link Clear words
      a(href="/logout") Logout #{user.email}

