extends layout

block head
  link(rel="stylesheet", href="/stylesheets/menu.css")

block content
  .title
    a.title-item.left(href="/words") Words
    .title-item.right Version:
      span.version Unavailable
  .menu
      a(href="/import") Import
      a(href="/export") Export
      a(href="/logout") Logout #{user.email}

