extends layout

block head
  link(rel="stylesheet", href="/stylesheets/title.css")
  link(rel="stylesheet", href="/stylesheets/train.css")
  script(src="/bower_components/jquery-hammerjs/jquery.hammer-full.min.js")
  script(type="text/javascript", src="/javascripts/train.js")

block content
  .title
    a.title-item.left(href="/") Menu
    //a.title-item.right(href="/word/edit/#{wordId}") Edit
  .box.question
    fieldset
      legend Translation
    .text.question Speak
  .box.answer
    fieldset
      legend Original
    .text.answer Hablar
  .buttons
    .button.fail.first-letter First letter
    .button.next Next
  script window.bootstrapWords = !{JSON.stringify(words)};
  script window.questionType = "#{questionType}";
