extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/word-base.css")

block scripts
  script(type="text/javascript", src="/javascripts/jquery-2.1.0.min.js")
  script(type="text/javascript", src="/javascripts/train.js")

block content
  script window.words = !{JSON.stringify(words)};
  .title
    a(href="/") Menu
  .word-block
    textarea(type="text", name="original", placeholder="clic para traducir", readonly=true)
    textarea(type="text", name="translation", placeholder="click to translate", readonly=true)
    .button.next-word

