extends layout

block head
  link(rel="stylesheet", href="/stylesheets/screen-words.css")
  link(rel="stylesheet", href="/stylesheets/title.css")
  link(rel="stylesheet", href="/stylesheets/tagcloud.css")
  script(src="/bower_components/jquery-hammerjs/jquery.hammer-full.min.js")
  script(src="/javascripts/words.js", type="text/javascript")

block content
  a.entry.template
    .original
    .tags
    .translation
  .section.template
  .title
    a.title-item.left(href="/") Menu
    .title-item.center Words:
      span.count #{words.length}
    .title-item.right Train
  .sort-order
    .sort-item.alphabetically natural
    .sort-item.groupby-day date
    .sort-item.groupby-tag tag
  .tagcloud
    for tag in tags
      .tag #{tag}
  .dictionary
    .header
      div Original
      div Tags
      div Translation
    .dictionary-container
    .load-next More..

  script window.bootstrapWords = !{JSON.stringify(words)};
