extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/words.css")

block scripts
  script(src="/javascripts/words.js", type="text/javascript")

block content
  template#word-details-template
    .details
      .button.edit Edit
      .button.remove Remove
      script(src="/javascripts/word-details.js")

  .title
    a.back(href="/") Menu
    .stats Words: #{words.length}
  .words
    each word in words
      .word-container(x-word-id="#{word.id}")
        .dictionary-entry
          .translation #{word.translation}
          .original #{word.original}


