extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/words.css")

block content
  .title
    a(href="/") Menu
  .words
    each word in words
      .word
        .original #{word.original}
        .translation #{word.translation}


