extends layout

block head
  link(rel="stylesheet", href="/stylesheets/words.css")
  script(src="/javascripts/jquery.hammer-full.min.js")
  script(src="/javascripts/words.js", type="text/javascript")

block content
  a.entry.template
    .original
    .tags
    .translation
  .section.template
  .title
    a.title-item.left(href="/settings") Settings
    a.title-item.center(href="/word/new") Add..
    .title-item.right Train: 
      span.count #{words.length}
  .sort-order
    .sort-item.alphabetically natural
    .sort-item.groupby-day date
    .sort-item.groupby-tag tag
  .date-picker
    .option(data-days="1") Last day
    .option(data-days="7") Week
  .tagcloud-container
  .dictionary
    .header
      div Original
      div Tags
      div Translation
    .dictionary-container
    .load-next More..
