extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/words.css")

block content
  .title
    a(href="/") Menu
  h3
    | Words: #{words.length}
  table.words
    tbody
      each word in words
        tr.word
          td.translation #{word.translation}
          td.original #{word.original}


