extends layout

block head
  link(rel="stylesheet", href="/stylesheets/words.css")
  script(src="/javascripts/words.js", type="text/javascript")

block content
  .title
    a.back(href="/") Menu
    .stats Words: #{words.length}
  .words
    each word in words
      .word-container(x-word-id="#{word.id}")
        .dictionary-entry
          .translation #{word.translation}
          .original #{word.original}


