* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 1ex;
}

a {
  color: #00B7FF;
}

