table.words {
    width: 100%;
}

.words thead {
    text-align: center;
}

.word {
    font-size: 14pt;
}

.word:nth-child(odd) {
    background-color: #CCC;
}

.translation {
    padding-left: 1ex;
}

.original {
    text-align: right;
    padding-right: 1ex;
}

.title {
    float: left;
}
